ConnectNetSolver/Debug/ConnectNetSolver.pdb
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.tlog/CL.read.1.tlog
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.tlog/CL.command.1.tlog
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.pch
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.obj
ConnectNetSolver/ConnectNetSolver/ConnectNetSolver.vcxproj.filters
ConnectNetSolver/ConnectNetSolver/ConnectNetSolver.vcxproj
ConnectNetSolver/.vs/ConnectNetSolver/v15/ipch/d85f23fc23619d9e.ipch
ConnectNetSolver/.vs/ConnectNetSolver/v15/Browse.VC.opendb
ConnectNetSolver/.vs/ConnectNetSolver/v15/Browse.VC.db
ConnectNetSolver/.vs/ConnectNetSolver/v15/.suo
ConnectNetSolver/ConnectNetSolver/Debug/vc141.pdb
ConnectNetSolver/ConnectNetSolver/Debug/vc141.idb
ConnectNetSolver/ConnectNetSolver/Debug/pch.obj
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.tlog/link.write.1.tlog
ConnectNetSolver/ConnectNetSolver/Debug/ConnectFourPlayer.obj
ConnectNetSolver/ConnectNetSolver/Debug/ConnectFourGame.obj
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.tlog/link.read.1.tlog
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.tlog/link.command.1.tlog
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.log
ConnectNetSolver/Debug/ConnectNetSolver.ilk
ConnectNetSolver/Debug/ConnectNetSolver.exe
ConnectNetSolver/ConnectNetSolver/pch.h
ConnectNetSolver/ConnectNetSolver/pch.cpp
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.tlog/ConnectNetSolver.lastbuildstate
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.tlog/CL.write.1.tlog
ConnectNetSolver/ConnectNetSolver/ConnectNetSolver.vcxproj.user
ConnectNetSolver/ConnectNetSolver/Debug/
ConnectNetSolver/ConnectNetSolver/testNeuralNet
ConnectNetSolver/ConnectNetSolver/parallelTest26
ConnectNetSolver/ConnectNetSolver/parallelTest25
ConnectNetSolver/ConnectNetSolver/parallelTest24
ConnectNetSolver/ConnectNetSolver/parallelTest23
ConnectNetSolver/ConnectNetSolver/functionalTest21
ConnectNetSolver/ConnectNetSolver/functionalTest20
ConnectNetSolver/ConnectNetSolver/champion6
ConnectNetSolver/ConnectNetSolver/champion5
ConnectNetSolver/ConnectNetSolver/champion0
ConnectNetSolver/ConnectNetSolver/parallelTest22
ConnectNetSolver/ConnectNetSolver/parallelTest21
ConnectNetSolver/ConnectNetSolver/parallelTest20
ConnectNetSolver/ConnectNetSolver/functionalTest26
ConnectNetSolver/ConnectNetSolver/functionalTest25
ConnectNetSolver/ConnectNetSolver/functionalTest24
ConnectNetSolver/ConnectNetSolver/functionalTest23
ConnectNetSolver/ConnectNetSolver/functionalTest22
neuralNetResults.txt
ConnectNetSolver/ConnectNetSolver/parallelTest27
ConnectNetSolver/ConnectNetSolver/champion4
ConnectNetSolver/ConnectNetSolver/champion3
ConnectNetSolver/ConnectNetSolver/champion2
ConnectNetSolver/ConnectNetSolver/champion1
