ConnectNetSolver/Debug/ConnectNetSolver.pdb
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.tlog/CL.read.1.tlog
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.tlog/CL.command.1.tlog
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.pch
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.obj
ConnectNetSolver/ConnectNetSolver/ConnectNetSolver.vcxproj.filters
ConnectNetSolver/ConnectNetSolver/ConnectNetSolver.vcxproj
ConnectNetSolver/.vs/ConnectNetSolver/v15/ipch/d85f23fc23619d9e.ipch
ConnectNetSolver/.vs/ConnectNetSolver/v15/Browse.VC.opendb
ConnectNetSolver/.vs/ConnectNetSolver/v15/Browse.VC.db
ConnectNetSolver/.vs/ConnectNetSolver/v15/.suo
ConnectNetSolver/ConnectNetSolver/Debug/vc141.pdb
ConnectNetSolver/ConnectNetSolver/Debug/vc141.idb
ConnectNetSolver/ConnectNetSolver/Debug/pch.obj
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.tlog/link.write.1.tlog
ConnectNetSolver/ConnectNetSolver/Debug/ConnectFourPlayer.obj
ConnectNetSolver/ConnectNetSolver/Debug/ConnectFourGame.obj
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.tlog/link.read.1.tlog
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.tlog/link.command.1.tlog
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.log
ConnectNetSolver/Debug/ConnectNetSolver.ilk
ConnectNetSolver/Debug/ConnectNetSolver.exe
ConnectNetSolver/ConnectNetSolver/pch.h
ConnectNetSolver/ConnectNetSolver/pch.cpp
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.tlog/ConnectNetSolver.lastbuildstate
ConnectNetSolver/ConnectNetSolver/Debug/ConnectNetSolver.tlog/CL.write.1.tlog
ConnectNetSolver/ConnectNetSolver/ConnectNetSolver.vcxproj.user
ConnectNetSolver/ConnectNetSolver/Debug/
